nav {
    background-color: #1A2B34;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-footer {
    background-color: #1A2B34;
    min-height: 150px;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 135px;
    margin-right: 150px;
}

.logo-f img {
    height: 150px;
    margin-left: 150px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    color: white;
    list-style: none;
    margin-left: 5%;
}

.menu li {
    margin: 55px;
    color: white;
}

.menu a {
    text-decoration: none;
}

.menu h2 {
    color: white;
}

.feito {
    margin-top: 60px;
    margin-left: 900px;
    color: white;
}

.heart {
    color: crimson;
}

main {
    background-color: #33454e;
}

.menu-cell, .menu-mobile {
    display: none;
}

/*------------------------------------
                celular
------------------------------------*/

@media (max-width: 999px) {
    .menu {
        display: none;
    }

    body.menufechado {
        width: 100%;
    }

    body.menuaberto .abrirmenuu{
        display: none;
    }

    body.menuaberto .fecharmenuu{
        visibility: visible;
        background-color: transparent;
        border: none;
    }

    body.menufechado .fecharmenuu{
        display: none;
    }

    body.menufechado .abrirmenuu{
        visibility: visible;
        background-color: transparent;
        border: none;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feito {
        margin: 0;
        margin-bottom: 50px;
    }

    .feito h2 {
        font-size: 20px;
    }

    .logo-f {
        margin: 0;
    }

    .logo-f img {
        margin: 0;
    }

    .logo img {
        margin: 0;
        margin-right: 100px;
    }

    .abrirmenuu {
        background-color: transparent;
        border: none;
    }
    
    .abrirmenuu img{
        height: 50px;
    }
    
    .fecharmenuu {
        background-color: transparent;
        border: none;
    }
    
    .fecharmenuu img{
        height: 50px;
    }
    
    .menu-cell {
        display: flex;
        flex-direction: row;
    }

    .menu-mobile ul {
        text-align: center;
    }
    
    .menu-mobile a {
        text-decoration: none;
        color: white;
    }
    
    .menu-mobile li {
        margin-top: 90px;
        list-style: none;
    }
    
    .um {
        margin-top: 150px;
    }
     
    .cincu {
        margin-bottom: 150px;
    }
    
    .menu-mobile {
        display: none;
    }
    
    body.menuaberto .menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #23232e;
        animation-duration: 2s;
        animation-name: slidein;
    }
      
    @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
      
    to {
      margin-left: 0%;
      width: 100%;
    }
    }
    
    body.menuaberto .geral {
        display: none;
    }
    
    body.menufechado.geral {
        visibility: visible;
    }
    
    body.menufechado {
        overflow-x: hidden;
    }
}