.geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    margin-top: 50px;
}

.regras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.regra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    height: 250px;
    width: 250px;
    margin: 50px;
}

.regra h3 {
    margin-top: 20px;
    width: 235px;
}

.lembrete {
    margin-top: 20px;
    margin-bottom: 50px;
}